body {
    background-color: #4abdac;
}

.title {
    font-family: "Calibri", cursive, serif;
    border-bottom-style: solid;
    border-bottom-color: black;
}

p {
    color: black;
}

h1 {
    color: black;
}

h3 {
    color: white;
}

li {
    color: black;
}

table {
    color: black;
}